a {
    color: #3e3947 !important;
    text-decoration: none;
}

a:hover{
    color: #89229b !important;
    text-decoration: none !important;
}
a:focus {
    color: #89229b !important;
    text-decoration: none !important;
}


.btn-group{
    position: relative;
    margin: 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}

 .iconic {
  top: 10px;
  position: relative;
  font-size: 30px;
}
	.linebtn,.linebtn:hover{
    position:relative;
    width:0px; height:0px;
    border-radius:0%;
    background:#fff;
    border:none;
    color:white;
    transition: box-shadow .2s, transform .4s;
    cursor:pointer;
  }
  .linebtn:active{
    color: inherit;
    outline:none;
  }
  .red{color: red}
.green{color: green}
.blue{color: blue}
